<html>
  <head>
    <title>Event Management</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="hero">
          <div class="flex-30">
            <a class="jc-center flex" href="/">
              <img class="logo" src="/images/logo.png" alt="Logo" />
            </a>
          </div>
          <nav class="flex-60">
            <ul class="jc-around">
              <li>
                <h2 class="title">Deccan Events</h2>
              </li>
              <li>
                <a href="/about"> About Us </a>
              </li>
              <li>
                <a href="/gallery"> Gallery </a>
              </li>
              <li>
                <a href="/events"> Events </a>
              </li>
            </ul>
          </nav>
        </div>
        <h1>Event Management</h1>
      </div>
    </header>
  </body>
</html>
